# Python-specific files
*.pyc
__pycache__/
*.pyo

# Virtual environment
venv/
env/

# Django-specific files
db.sqlite3
/media/
staticfiles/

# IDE-specific files
.vscode/
.idea/

# Environment variables
.env

